$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da;
$gray-500: #aaa;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #222;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d8486a;
$orange: #f1641e;
$yellow: #FFCE67;
$green: #00a846;
$teal: #20c997;
$cyan: #02bdc2;
$primary: $indigo;
$secondary: $purple;
$success: $indigo;
$info: $blue;
$warning: $yellow;
$danger: darken($primary, 25%);
$light: $gray-100;
$dark: $gray-800;
$body-color: $gray-700;
$headings-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $secondary;
$navbar-dark-color: rgba($white, .6);
$navbar-dark-hover-color: $white;
$body-bg: #fff;
$link-color: $primary;
$border-color: rgba($body-color, 0.25);
$mark-bg: rgb(255, 252, 239);
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
$font-weight-bold: 600;
$card-color: $gray-700;
$card-cap-color: $gray-700;
$card-bg: $gray-100;
$navbar-dark-toggler-border-color: rgba($black, 0.1);
$navbar-light-color: $gray-600;
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$form-feedback-valid-color: $info;
$input-btn-focus-color: rgba($primary, 0.75);
$border-radius: 0.5rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 1rem;
$rounded-pill: 0.25rem;
$hr-border-color: rgba($body-color, 0.25);
$card-border-color: $gray-200;
$font-family-monospace: Noto Mono, Menlo, Monaco, Consolas, monospace;
$font-size-base: 0.875rem;
$font-size-sm: 0.75rem;
$font-size-lg: 1.125rem;
